[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = ">=3.9"

[packages]
requests = "*"
colorama = "*"
pytz = "*"
macos-notifications = { version = "*", markers = "sys_platform == 'darwin'" }
win10toast = { version = "*", markers = "sys_platform == 'win32'" }

[dev-packages]